.overview-container {
  max-width: var(--max-width);
  margin: 1%;
}
@media screen and (min-width:300px){
	@keyframes transition-left{
		0%{
			transform: translate(20%,0);
		}
		50%{
			transform: translate(10%,0);
		}
		80%{
			transform: translate(5%,0);
		}
		100%{
			transform: translate(0,0);
		}
	}	
	.move-left{
		animation: transition-left linear 1s;
		width: 100%;
		height: auto;
	}
	@keyframes transition-opacity{
		0%{
      width:0;
			opacity: 0.25
		}
		50%{
      width: 50%;
			opacity: 0.5
		}
		75%{
      width: 75%;
			opacity: 0.75
		}
		100%{
      width: 100%;
			opacity: 1
		}
	}	
	.anim-opac{
		animation: transition-opacity linear 1s;
		width: 100%;
		height: 100%;
	}
}


