@media screen and (min-width:400px){
  .card-text{
		font-size: 1rem;
		color: #F5F5F5;
		font-weight: 500;
	}
	.selected{
		background-color: steelblue;
	}
	.not-selected{
		background-color: transparent;
	}
	.no-flick{
		-webkit-transform:translate3d(0,0,0)
	}
}
@media screen and (min-width:720px){
  .card-text{
		font-size: 1.25rem;
	}
}
@media screen and (min-width:1096px){
  .card-text{
		font-size: 1.4rem;
	}
}